/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/*html { height: 100%; }*/
body {
    background-color: #FFF;
    height:100%;
    font-family: "pill-gothic-300mg-1", "pill-gothic-300mg-2", Helvetica, Arial, sans-serif;
}
#container{
    width:100%;
    position:absolute;
    background-color:#c33;
    top: 0;
    left: 0;
    z-index: 1;
    min-height: 100%;
    overflow:hidden;
}

.advance { position:absolute; top:50%; background-color:#FFF; z-index: 100; height:72px; width:33px;}
#right_advance {right:0; background: #FFF url(/static/images/wfl/right.png) no-repeat;}
#left_advance {left:0; background: #FFF url(/static/images/wfl/left.png) no-repeat;}

#site_info {
    position:absolute;
    right:16px;
    bottom:16px;
    z-index: 100; 
    color: #fff; 
    font-style: italic; 
    font-size:11px;
}
#top_nav{
    height:34px;
    background-color:#FFF;
    position: absolute;
    width:100%;
    top:0;
    left:0;
    z-index: 100;
}

.nav_selected{
    background-color:#000 !important;
    color:#FFF !important;
}

#nav_title, .nav_slide{
    border-right:1px solid #989898;
    border-bottom:1px solid #989898;
    height:100%;
    float:left;
    text-align:center;  
}

#nav_title {}
.nav_slide {
    width:34px;
    background-color:#EFEFEF; 
    text-decoration:none; 
    color:#000;
    z-index: 1000;
}
a.nav_slide:hover { background-color:#FFF; }

#slide_thumbnail {
    position:absolute;
    width:220px;
    height:165px;
    background-color:#FFF;
    z-index: 98;
}

#slide_holder {
    position:absolute;
    top:34px;
    left:0px;
    overflow:hidden;
}

.slide {
    background-color:#F0F;
    overflow:hidden;
    float:left;
    position:relative;
}
.slide_title, .slide_deck{
    position:absolute;
    z-index: 1000;
}

.slide_title{
    left:48px;
    bottom:125px;
    font-size:64px;
    font-weight:bold;
    font-style: italic;
    height:64px;
    line-height:64px;
    padding:10px 10px 0px 10px;
    background-color:#FFF;
}

.slide_deck{
    left:48px;
    bottom:91px;
    background-color: #000;
    color: #FFF;
    height:18px;
    font-size:18px;
    font-style: italic;
    padding:6px 10px 10px 10px;
}