<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Bmore Fiber: We're Feeling Lucky</title>
<style type="text/css">
<!--
#container {
	padding: 15px;
	margin: 0px auto 0px auto;
}
p {
margin: 0px;
padding: 0px;
font: bold 65px Helvetica, sans-serif;
line-height: 80px;
letter-spacing:-2px;
}

.highlight {
	background-color: #FFFF00;
}
-->
</style>
</head>

<body>
<div id="container">
<p>Hi <span style="color:#5772B7;">G</span><span style="color:#D6272E">o</span><span style="color:#FDE20F">o</span><span style="color:#5772B7">g</span><span style="color:#289427">l</span><span style="color:#D6272E">e</span>, welcome to <span class="highlight">Baltimore</span>. We've got a fantastic presentation coming your way on Friday. In the meantime, have a look at <a href="http://www.bmorefiber.com" target="_blank">bmorefiber.com</a>. Then read this <a href="http://davetroy.com/?p=954" target="_blank">great summary</a> of why we think investing in Baltimore is the right decision at the right time. Thank you.</p>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12975830-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>