<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Baltimore: We&#146;re Feeling Lucky!</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="google-site-verification" content="HF6g4zpEvarzG9FL_G97GW8p1C3PX9HRuxzy-r0x0U4" />
        <meta name="description" content="We want to show Google that Baltimore is teeming with creative people who are ready for ultra fast broadband. Get involved by adding your voice to the map or listing your organization."/>
        <meta name="keywords" content="baltimore, fiber, community, action, greatest city in america" />
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" href="/static/css/wfl.css" type="text/css" media="screen, projection"/>
        <script type="text/javascript" charset="utf-8">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12975830-1']);
            _gaq.push(['_trackPageview']);
        </script>
    </head>
    <body>
        <div id="container">
            <div id="left_advance" class="advance">
                <a href="#">Prev</a>
            </div>
            <div id="right_advance" class="advance">
                <a href="#">Next</a>
            </div>
            <div id="site_info">
                Site Info
            </div>
            <div id="top_nav">
                <span id="nav_title">Top Reasons for Google to Invest in Baltimore</span>
                <span id="nav_slides">
                    <a href="#" class="nav_slide">1</a>
                    <a href="#" class="nav_slide">2</a>
                    <a href="#" class="nav_slide">3</a>
                    <a href="#" class="nav_slide">4</a>
                    <a href="#" class="nav_slide">5</a>
                    <a href="#" class="nav_slide">6</a>
                    <a href="#" class="nav_slide">7</a>
                    <a href="#" class="nav_slide">8</a>
                    <a href="#" class="nav_slide">9</a>
                    <a href="#" class="nav_slide">10</a>
                    <a href="#" class="nav_slide">11</a>
                    <a href="#" class="nav_slide">12</a>
                </span>
            </div>
            <div id="slide_holder">
				{# <div class="slide"> #}
				{# 	<div class="slide_title">Test Slide 1</div> #}
				{# 	<div class="slide_deck">la la la 1</div> #}
				{# 	<div class="slide_action">Read More</div> #}
				{# 	<img src="/static/images/wfl/hubble_heic0515a.jpg" id="background" width="500" height="350" alt="hubble"/> #}
				{# </div> #}
				{# <div class="slide"> #}
				{# 	<div class="slide_title">Test Slide 2</div> #}
				{# 	<div class="slide_deck">la la la 2</div> #}
				{# 	<div class="slide_action">Read More</div> #}
				{# 	<img src="/static/images/wfl/beach_house_X6X1398.jpg" class="slide_bg" width="500" height="350" /> #}
				{# </div> #}
			</div>
        </div>
        <script src="/static/js/wfl.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>