<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Baltimore: We&#146;re Feeling Lucky!</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="google-site-verification" content="HF6g4zpEvarzG9FL_G97GW8p1C3PX9HRuxzy-r0x0U4" />
        <meta name="description" content="We want to show Google that Baltimore is teeming with creative people who are ready for ultra fast broadband. Get involved by adding your voice to the map or listing your organization."/>
        <meta name="keywords" content="baltimore, fiber, community, action, greatest city in america" />
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" href="/static/css/wfl.css" type="text/css" media="screen, projection"/>
        <script type="text/javascript" charset="utf-8">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12975830-1']);
            _gaq.push(['_trackPageview']);
        </script>
    </head>
    <body>
        <div id="container">
            <div id="left_advance" class="advance"></div>
            <div id="right_advance" class="advance"></div>
            <div id="site_info">
				<span>Presented by BmoreFiber | Site Credits</span>
				<a href="http://www.facebook.com/BmoreFiber"><img src="/static/images/wfl/facebook.png" alt="facebook icon"/></a>
				<a href="http://twitter.com/bmorefiber"><img src="/static/images/wfl/twitter.png" alt="twitter icon"/></a>
				<a href="http://www.youtube.com/bmorefiber"><img src="/static/images/wfl/youtube.png" alt="youtube icon"/></a>
            </div>
            <div id="top_nav">
                <span id="nav_title">Top Reasons for Google to Invest in Baltimore</span>
                <span id="nav_slides"></span>
            </div>
            <div id="slide_holder"></div>
        </div>
        <script src="/static/js/wfl.js" type="text/javascript" charset="utf-8"></script>
		{# // <script type="text/javascript" src="http://use.typekit.com/cyb3utk.js"></script> #}
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </body>
</html>