<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <title>Baltimore Fiber</title> 
    </head> 
    <body style="font-family:'Helvetica Neue', Arial, Helvetica, sans-serif; color:#222; font-size:14px; line-height:1.5;">
        [~USERCONTENT:SHORT_DESC=Editable Content|:|LONG_DESC=You can edit everything. ~]
        <table width="100%" cellspacing="0" cellpadding="0"> 
            <tr> 
                <td align="center"> 
                    <table width="550" cellspacing="0" cellpadding="0"> 
                        <tr>
                            <td><a href="http://www.bmorefiber.com/"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/header.png" alt="header"/></a></td> 
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style="vertical-align:top;">
                                            <p style="font-size:14px; width:350px; margin-top:24px;">
                                                Over 1600 Marylanders have shared their thoughts with 
                                                <a style="color:#1C94C4;" href="http://www.bmorefiber.com/">Bmore Fiber</a> as to why Google should build an 
                                                <a style="color:#1C94C4;" href="http://www.google.com/appserve/fiberrfi/public/overview">ultra-high-speed broadband network</a> in Baltimore. 
                                                Now we need to hear from you! 
                                                Please <a style="color:#1C94C4;" href="http://www.bmorefiber.com/">add your voice</a> to the map, 
                                                join us on <a style="color:#1C94C4;" href="http://twitter.com/bmorefiber">Twitter</a> and 
                                                <a style="color:#1C94C4;" href="http://www.facebook.com/BmoreFiber">Facebook</a>, and spread the word to 
                                                all your coworkers, friends, and family!
                                            </p>
                                            <p>
                                                <a href="http://www.bmorefiber.com/"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/voicebutton.png" alt="button"/></a>
                                            </p>
                                        </td>
                                        <td style="vertical-align:top;">
                                            <a href="http://www.bmorefiber.com/"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/logo.png" alt="logo"/></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h1 style="font-size:18px; padding-top:18px; margin-top:18px; margin-bottom:12px; border-top:1px solid #ccc; font-weight:bold;">
                                    Bmore Fiber Supporters on Youtube
                                    <a style="color:#1C94C4; font-weight:normal; font-style: italic;" href="http://www.bmorefiber.com/">Upload a Video!</a>
                                </h1>
                            </td> 
                        </tr>
                        <tr>
                            <td><a href="http://www.bmorefiber.com/"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/youtubeplayer.jpg" alt="you tube player"/></a></td> 
                        </tr>
                        <tr>
                            <td>
                                <h1 style="font-size:18px; padding-top:18px; margin-top:18px; margin-bottom:12px; border-top:1px solid #ccc; font-weight:bold;">
                                    Reasons for Google To Invest 
                                    <a style="color:#1C94C4; font-weight:normal; font-style: italic;" href="http://www.bmorefiber.com/">Add Your Voice!</a>
                                </h1>
                            </td> 
                        </tr>
                        <tr>
                            <td><a href="http://www.bmorefiber.com/"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/map.jpg" alt="Map"/></a></td> 
                        </tr>
                        <tr>
                            <td>
                                <h1 style="margin-bottom:24px; font-size:18px; padding-top:18px; margin-top:18px; border-top:1px solid #ccc; font-weight:bold;">
                                    Latest Supporters 
                                    <a style="color:#1C94C4; font-weight:normal; font-style: italic;" href="http://www.bmorefiber.com/">Add Your Organization!</a>
                                </h1>
                            </td> 
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" style="vertical-align:top;"><a href="http://www.bmorefiber.com/"><img style="margin-top:10px" src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/ua.png" alt="ua logo"/></a></td>
                                        <td align="center" style="vertical-align:top;"><a href="http://www.bmorefiber.com/"><img style="margin-top:24px" src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/mica.png" alt="mica logo"/></a></td>
                                        <td align="center" style="vertical-align:top;"><a href="http://www.bmorefiber.com/"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/bmoreacts.png" alt="Baltimore Acts logo"/></a></td>
                                    </tr>
                                </table>
                            </td> 
                        </tr>
                        <tr>
                            <td><h1 style="font-size:18px; padding-top:18px; margin-top:18px; margin-bottom:12px; border-top:1px solid #ccc; font-weight:bold;">Latest Press</h1></td> 
                        </tr>
                        <tr>
                            <td>
                                <table  width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style="vertical-align:top;">
                                            <p style="margin-right:18px">
                                            <b style="font-size:12px">March 10, 2010</b><br/>
                                            <b><a style="color:#1C94C4;" href="http://mashable.com/2010/03/10/google-fiber-pitches/">
                                                Google Fiber Sparks Online Competition Between Cities Nationwide</a></b><br/>
                                            Josh Catone, <i>Mashable.com</i>
                                            </p>
                                        </td>
                                        <td style="vertical-align:top;">
                                            <p>
                                                <b style="font-size:12px">March 8, 2010</b><br/>
                                                <b><a style="color:#1C94C4;" href="http://www.audaciousideas.org/?p=412">
                                                    Baltimore’s case for Google fiberoptic investment is more than just stunts</a></b><br/>
                                                David Troy, <i>Open Society Institute-Baltimore </i>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top;">
                                            <p style="margin-right:18px">
                                                <b style="font-size:12px">March 8, 2010</b><br/>
                                                <b><a style="color:#1C94C4;" href="http://www.digitalmediabuzz.com/2010/03/google-broadband-giant-step/">
                                                    Google Broadband: One Giant Step For Google</a></b><br/>
                                                James Zipadelli, <i>Digital Media Buzz</i>
                                            </p>
                                        </td>
                                        <td style="vertical-align:top;">
                                            <p>
                                                <b style="font-size:12px">March 7, 2010</b><br/>
                                                <b><a style="color:#1C94C4;" href="http://www.examiner.com/x-284-Baltimore-Politics-Examiner~y2010m3d7-Bring-Google-fiber-to-Baltimore">
                                                    Bring Google fiber to Baltimore</a></b><br/>
                                                Adam Meister, <i>Examiner.com</i>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:top;">
                                            <p style="margin-right:18px">
                                                <b style="font-size:12px">March 5, 2010</b><br/>
                                                <b><a style="color:#1C94C4;" href="http://www.google.com/hostednews/ap/article/ALeqM5hVUX_mebYDR8Psu6QtXe0UHfqSqAD9E8LMAG0">
                                                    Google dangles ultrafast broadband and cities leap</a></b><br/>
                                                Briana Bierschbach, <i>Associated Press</i>
                                            </p>
                                        </td>
                                        <td style="vertical-align:top;">
                                            <p>
                                                <b style="font-size:12px">March 3, 2010</b><br/>
                                                <b><a style="color:#1C94C4;" href="http://www.businessweek.com/technology/content/mar2010/tc2010032_027253.htm">
                                                   Gaga for Google Broadband</a></b><br/>
                                                Olga Kharif, <i>BusinessWeek</i>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td> 
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style="vertical-align:top;">
                                            <p style="margin-top:18px; color:#ccc; width:400px;">
                                                Bmore Fiber is in no way affiliated with Google. 
                                                We just really want Google to bring ultra-fast 
                                                broadband to Baltimore. Email addresses will never 
                                                be shared or sold. Questions, comments, threats? 
                                                <a style="color:#1C94C4;" href="mailto:jonlesser+gfiber@gmail.com">Contact Us</a>.
                                                <br/>
                                                [~ListUnsubscribe~]
                                                <br/>
                                                [~Physical_Mailing_Address~]
                                            </p>
                                        </td>
                                        <td style="vertical-align:top;">
                                            <p style="margin-top:18px;">
                                                <a href="http://www.youtube.com/bmorefiber"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/youtube.png" alt="youtube"/></a>
                                                <a href="http://twitter.com/bmorefiber"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/twitter.png" alt="twitter"/></a>
                                                <a href="http://www.flickr.com/groups/bmorefiber/"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/flickr.png" alt="flickr"/></a>
                                                <a href="http://www.facebook.com/BmoreFiber"><img src="http://images.publicaster.com/ImageLibrary/account2795/images/email-v1/facebook.png" alt="facebook"/></a>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td> 
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        [~ENDUSERCONTENT~]
    </body> 
</html>